.contenedor-carrera {
    width: 85%;
    height: 85%;
    border-radius: 10px;
    box-shadow: 7px 7px rgba(45, 45, 45, 0.5);
    background-color: var(--color-verde-500);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    padding: 5%;
    transition: all 0.5s;
}

.contenedor-carrera span {
    
    font-family: 'Signika';
    color: var(--color-gris-300);
}

.contenedor-carrera:hover {
    transform: scale(1.1);
    background-color: var(--color-verde-400);
    font-size: 1.3em;
    box-shadow: 10px 10px 10px rgba(45, 45, 45, 0.5);
}